<mat-toolbar color="primary" class="mat-elevation-z6">
  <span (click)="navigateToHome()" class="cursor-pointer">{{ appName }}</span>
  <span class="spacer"></span>

  <button
    *ngIf="userService.userInfoObs$ | async; else loginSignUpTemplate"
    mat-button
    (click)="logout()"
  >
    <mat-icon class="mr-2">logout</mat-icon>LOGOUT
  </button>
</mat-toolbar>

<ng-template #loginSignUpTemplate>
  <button mat-button routerLink="login">LOGIN</button>
  <button mat-button routerLink="register">REGISTER</button>
</ng-template>
