<h2 mat-dialog-title>{{ data.action === "add" ? "Add" : "Update" }} Goal</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="goalForm">
    <mat-form-field class="w-100">
      <mat-label>Name</mat-label>
      <textarea matInput formControlName="name"></textarea>
      <mat-hint>Give the name for the goal</mat-hint>
    </mat-form-field>

    <mat-form-field class="my-3 d-block w-100">
      <mat-label>Category</mat-label>
      <mat-select formControlName="category_id">
        <mat-option
          *ngFor="let status of categories$ | async"
          [value]="status.id"
        >
          {{ status.name }}
        </mat-option>
      </mat-select>
      <mat-hint
        >Select the category for the goal. If category not created, add
        Categories first before goal
      </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of statusOptions" [value]="status.value">
          {{ status.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="w-100 my-3">
      <mat-label>Target date</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="target" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Visibility</mat-label>
      <mat-select formControlName="visibility">
        <mat-option
          *ngFor="let visibility of visibilityOptions"
          [value]="visibility.value"
        >
          {{ visibility.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CANCEL</button>
  <button
    mat-button
    mat-dialog-close
    *ngIf="data.action === 'update'"
    (click)="deleteGoal()"
  >
    DELETE
  </button>
  <button
    mat-button
    color="primary"
    [mat-dialog-close]="true"
    cdkFocusInitial
    [disabled]="goalForm.invalid"
    (click)="saveGoal()"
  >
    SAVE
  </button>
</mat-dialog-actions>
