.dot-color {
  background-color: #3f51b5;
  // background-color: #ff4081;
}

.item:before {
  border-left: 1px solid grey;
  content: "";
  padding: 10px 20px;
}

.item-icon {
  align-items: center;
  margin-left: -18px;
  background-color: lightgrey;
  border-radius: 50%;
  padding: 10px;
}
