<section class="p-3">
  <h2>Leader Board</h2>
  <table
    mat-table
    [dataSource]="leaderBoard$ | async"
    class="mat-elevation-z8 w-100"
  >
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef>No</th>
      <td mat-cell *matCellDef="let index = index">{{ index + 1 }}</td>
    </ng-container>

    <ng-container matColumnDef="full_name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">{{ element.full_name }}</td>
    </ng-container>

    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Goals completed</th>
      <td mat-cell *matCellDef="let element">{{ element.total }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div *ngIf="isLoading">
    <mat-progress-bar mode="query"></mat-progress-bar>
  </div>
</section>
