<section class="first-block">
  <img src="assets/logo.png" />
  <!-- <h2 class="heading">Goals Vine</h2> -->
  <h2 class="sub-heading">
    Tracks your goals, motivate and reminds you to convert them into reality.
  </h2>
</section>

<section class="app-info">
  <h2 class="heading">What is Goals Vine?</h2>
  <p class="details">
    Are you one of them who sets
    <span class="material-primary">New Year resolution (or) any goals </span> in
    the beginning of the year but you don't follow it after?
  </p>
  <p class="details material-primary">Then this is the app for you.</p>
  <p class="details">The reason why people lose focus is,</p>
  <ul>
    <li class="details">Forgetting the goals set due to busy life</li>
    <li class="details">No Motivation.</li>
    <li class="details">No way to Measure our goals</li>
  </ul>

  <mat-divider class="my-4"></mat-divider>

  <h2 class="heading">What Goals Vine offer?</h2>
  <p class="details">
    <span class="material-primary">Goals Vine</span> solves the above problem by
    providing the following features.
  </p>

  <ul>
    <li class="details">Send you a reminder mail every month</li>
    <li class="details">
      Send Motivational quotes & images in reminder mail to continue your
      progress.
    </li>
    <li class="details">Offers statistics to show your growth</li>
    <li class="details">
      Categorize your goals to know how much you are achieving or lagging in
      specific category
    </li>
    <li class="details">Shows Leader board to compete with others</li>
  </ul>

  <mat-divider class="my-4"></mat-divider>

  <section class="screenshots">
    <h2 class="heading text-center pb-4 text-decoration-underline">
      App Screenshots
    </h2>

    <h2 class="heading text-center pb-4">Reminder mail with stats</h2>

    <img src="assets/images/reminder.png" />
    <h2 class="heading text-center pb-4">Goals</h2>

    <img src="assets/images/goals.png" />
    <h2 class="heading text-center pb-4">Statistics with Graph</h2>

    <img src="assets/images/stats.png" />
  </section>
</section>
